root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
charset = utf-8
max_line_length = 78

[Makefile]
indent_style = tab

[*.xml]
indent_size = 3

[*.md]
indent_size = 2
