*.redxml
*.txt
*.html
*.pdf
*.upload
.tags
*~
*.swp
/*-[0-9][0-9].xml
.refcache
.targets.mk
venv/
issues.json
pulls.json
report.xml
lib
draft-ietf-httpbis-auth-latest.xml
draft-ietf-httpbis-cache-latest.xml
draft-ietf-httpbis-conditional-latest.xml
draft-ietf-httpbis-messaging-latest.xml
draft-ietf-httpbis-range-latest.xml
draft-ietf-httpbis-semantics-latest.xml
