*.redxml
*.txt
*.html
*.pdf
*.upload
.tags
*~
*.swp
/*-[0-9][0-9].xml
.refcache
.targets.mk
venv/
issues.json
pulls.json
report.xml
lib
tools/bap/bap
draft-ietf-httpbis-auth.xml
draft-ietf-httpbis-cache.xml
draft-ietf-httpbis-conditional.xml
draft-ietf-httpbis-messaging.xml
draft-ietf-httpbis-range.xml
draft-ietf-httpbis-semantics.xml
